body {
    font-family: "Arial","Meiryo",sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    border-bottom: 3px solid rgb(115, 115, 114);
    display: inline-block;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

#basic p {
    font-weight: bold;
}

.highlight-b {
    color: skyblue;
}

.highlight-p {
    color: rgb(255, 192, 203);
}

#basic p:not(.basic-other) {
    font-weight: bold;
}