/* Step 3. スタイルの下準備 */
* {
    margin: 0;  /* 全要素の余白をリセット */
  }
  
  p, a {
    font-size: 20px;  /* p要素とa要素のフォントサイズ */
  }
  
  /* Step 4. header部分のスタイル */
  header {
    padding-bottom: 20px;  /* 下の余白 */
    background-color: rgb(244, 79, 79);  /* 背景色 */
    text-align: center;  /* 中央揃え */
  }
  
  header h1 {
    color: rgb(255, 255, 255);  /* 文字色 */
  }
  
  /* Step 5. main部分のスタイル */
  main {
    padding: 10px;  /* main要素の上下左右余白 */
  }
  
  #parent {
    display: flex;  /* Flexコンテナ */
    justify-content: space-between;  /* 均等な間隔で配置 */
  }
  
  .contents {
    border: 3px solid rgb(238, 204, 204);  /* 線で囲む */
    flex-basis: 25%;  /* 幅は親要素の25% */
    padding: 10px 15px;  /* 内部余白 */
    margin: 20px 0;  /* 外部余白 */
    text-align: center;  /* 中央揃え */
  }
  
  .contents h2 {
    font-size: 25px;  /* フォントサイズ */
    border-bottom: 3px dotted rgb(236, 122, 122);  /* 下線 */
    position: relative;
  }
  
  .contents h2::before {
    content: "●";  /* ●記号 */
    color: rgb(239, 111, 139);  /* 色 */
    position: absolute;
    left: -20px;  /* 記号の位置 */
  }
  
  .contents p:nth-of-type(2)::first-letter {
    font-weight: bold;  /* 太字 */
    color: rgb(97, 206, 249);  /* 文字色 */
  }
  
  .contents p:nth-of-type(2)::first-letter {
    font-weight: bold;  /* 最初の文字 */
    color: rgb(97, 206, 249);  /* 文字色 */
  }
  
  .contents img {
    margin: 10px 0;  /* 画像の上下余白 */
    width: 70%;  /* 幅 */
  }
  
  /* Step 6. フッター部分のスタイル */
  footer {
    background-color: rgb(244, 79, 79);  /* 背景色 */
    text-align: center;  /* 中央揃え */
  }
  
  footer a {
    color: rgb(255, 255, 255);  /* 文字色 */
    text-decoration: none;
  }
  
  footer a:visited {
    color: rgb(193, 234, 251);  /* 訪問済みリンクの色 */
  }
  
  footer a:hover {
    color: rgb(245, 178, 168);  /* マウスオーバー時の色 */
  }
  
  /* Step 7. レスポンシブ対応のスタイル */
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 30px;  /* h2のフォントサイズ */
    }
  
    p {
      font-size: 25px;  /* pのフォントサイズ */
    }
  
    #parent {
      flex-direction: column;  /* Flexboxコンテナ内の要素が縦に並ぶ */
    }
  }
  