/* 基本スタイル */
body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
    margin: 0;
  }
  
  /* メインビジュアル */
  #main-visual img {
    width: 100%;
  }
  
  /* PC用ナビゲーション */
  @media screen and (min-width: 768px) {
    #nav-pc {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
    /* スマホ用要素を非表示 */
    #menu-sp, #nav-sp {
      display: none;
    }
  }
  
/* スマホ用ナビゲーション */
@media screen and (max-width: 767px) {
  #nav-pc {
    display: none;
  }

  /* ハンバーガーメニュー */
  #menu-sp {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  #nav-sp {
    display: none;
    background-color: #ce933e;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  #nav-sp ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  #nav-sp li {
    margin: 20px 0;
  }

  #nav-sp a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }

  /* ハンバーガーメニュー内のロゴを左端に配置し、下部に寄せる */
  #logo-sp {
    display: block;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  /* メニュー項目のスタイル */
  #nav-sp a.menu {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
  }

  #close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
